PORT=8081
HOST=127.0.0.1
# Project Environment Variables

STACK_SERVER_URL=https://haxestack.com
# Get your project key at haxestack.com or set up your own platform api server easily here: tbd
STACK_PROJECT_KEY=YOUR_PROJECT_KEY_GOES_HERE
# Generate a key using "haxelib run hxwell generate:key" 
APP_KEY=HXWELL_APP_KEY_GOES_HERE 